

<div class="modal fade" bsModal #errorModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
            <div class="button-panel">
                <button type="button" class="btn btn-primary" (click) = "cancel()">OK</button>
            </div>
</div>
    </div>
  </div>
</div>
